# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/

# OS files
.DS_Store

# IDE files
.vscode/

# Jest cache & artifacts
.jest_cache/
jest_output.txt

# Temporary files
tmp.js